 /* Google font */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
 body {
     font-family: 'Montserrat', sans-serif;
     background-attachment: fixed;
     /* overflow: hidden; */
 }
 .border-box {
    box-sizing: border-box;
 }
 div{
     display: block;
 }
 #panel, #flipmain {
   padding: 5px;
   text-align: center;
   background-color: #e5eecc;
   border: solid 1px #c3c3c3;
 }
 #panel, #flipsec {
   padding: 5px;
   text-align: center;
   background-color: #e5eecc;
   border: solid 1px #c3c3c3;
 }
 
 #panel {
   padding: 50px;
   display: none;
 }

.boxx{
    display: inline;
    font-weight: bold;
    /* background: #e5eecc; */
}

.red {
  color: red;
}

#demo{
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

#CryptoTable{
  color: whitesmoke;
  font-weight: bold;
}

#DivCryptoTable{
  padding: 20px;
  background-color: rgba(163, 163, 163, 1);  
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.imgcontainer {
  width: 16px;
  height: 8px;
}

/* Resize images */
.imgcontainer img {
  width: 55%;
  height: auto;
}
